<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>FoodTruck: <a href="https://twitter.com<%= @tweet.user.url.path %>"><%= @tweet.user.name %></a></p>
    <p>Truck Description: <%= @tweet.user.description %></p>
  </div>
</div>

<div class="row">
  <div class="tweet" align="center">
      <blockquote class="twitter-tweet" lang="en">
          <p><%= @tweet.text %></p>
          <a href="https://twitter.com<%= @tweet.url.path %>">Link</a>
      </blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

