<nav class="navbar navbar-inverse navbar-fixed-top" style ='background-color: #99CCCC;'>
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/" style = "font-family:Courier New;color:#FFFFFF">Yummy Trucks</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" style ='background-color: #6699CC;font-family:Courier New;'>Home</a></li></ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<img src="http://www.designbolts.com/wp-content/uploads/2012/12/Subtle-Grey-Tileable-Pattern-For-Website-Background.jpg" class="img-responsive" id="bg" alt="Responsive image" style="height:990px; width:1450px; position: absolute;20; top: 0">
    <div class="row">

<!-- <div class="col-md-4 col-md-offset-4" -->
<div class="row">
<div class="col-md-6 col-md-offset-3">
<% if flash[:link] %>
  <p>
    <center><a href=<%= flash[:link] %>>
      <%= flash[:notice] %>
    </a>
  </p>
<% end %></center>
</div>
</div>

<div class="row">
    <div class= "col-md-6 col-md-offset-3">
    
      <center><h1 style="color:#333366;font-family:Courier New"><b>Here's Your Food Truck!</b></h1></center>
    </div> 
</div>
  
  <div class="row">
    <div class= "col-md-6 col-md-offset-3">
      <center><p><h3 style="color:#333366"><b><%= @food_truck.name.capitalize %></b></h3></p></center>
    </div>
  </div>

  <div class="row">
    <div class= "col-md-6 col-md-offset-3">
      <center><p><%= image_tag @food_truck.image_url, :style => "border:5px solid #6699CC
"%></p></center>
      <center><p style="color:#333366;font-family:Courier New;font-size:20px"><b><%= @food_truck.description %></b></p></center>
      <center><p style="color:#333366;font-family:Courier New;font-size:20px"><b>Twitter Handle: <%= @food_truck.handle %></b></p></center>
      <center><p style="color:#333366;font-family:Courier New;font-size:20px"><b>Website: <%= @food_truck.website %></b></p></center>
    </div>
  </div>

  <div class="row">
    <div class= "col-md-6 col-md-offset-3">
      <center><p style="color:#333366"><b>FoodTruck: <a href="https://twitter.com<%= @tweet.user.url.path %>"><%= @tweet.user.name %></a></b></p></center>
    </div>
  </div>

  <div class="row">
  <div class= "col-md-6 col-md-offset-3" >
    <div class="tweet" align="center" >
        <blockquote class="twitter-tweet" lang="en">
            <p><%= @tweet.text %></p>
            <a href="https://twitter.com<%= @tweet.url.path %>">Link</a>
        </blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8
" ></script>
    </div>
    </div>
      <br>
      <br>
    </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% if current_user %>
          <%= form_tag("/users/#{current_user.id}/tweet") do %>
            <%= hidden_field_tag "food_truck[id]", @food_truck.id %><br>
            <center><%= label_tag("user[tweet_content]", "Tweet at @#{@food_truck.handle}") %>
            <%= text_field_tag "user[tweet_content]" %></center><br>
            <center><%= submit_tag "Send Tweet", :class => "btn btn-info btn-sm", :style => "border:5px solid #6699CC" %></center>
          <% end %>
      <% else %>
          <p>You must log in to send a tweet.</p>
      <% end %>
        <br>
        <br>
      <center><p><%= link_to "See All Food Trucks", food_trucks_path, :class => "btn btn-warning btn-sm", :style => "border:5px solid #6699CC" %></p></center>
      <!-- <i class="fa fa-film"></i> -->
        <br>
        <br>
    </div>
  </div>




