

<div class="container">
  <div class="row">

    <div class="col-md-3">

      <% if current_user %>
        <img src="<%= current_user.image_url %>">
        <p>Welcome <%= current_user.name %>!<p>
        <p><%= current_user.description %></p>
        <p><%= current_user.location %></p>
        <p><%= current_user.nickname %></p>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>

      <!-- iterating through all the food trucks in the db -->
      <!-- display name, handle, link? -->
        <% FoodTruck.all.each do |food_truck| %>
          <p><h3><b><%= food_truck.name %></b></h3></p>
          <p><%= image_tag food_truck.image_url %></p>
          <p><%= food_truck.description %></p>
          <p><b>Twitter Handle:</b> <%= food_truck.handle %></p>
        <% end %>
    </div>

    <div class="col-md-9">
      <h1>Welcome to the Food Truck Locator</h1>

      <!-- make form that submits a post to the search action in food trucks controller -->
      <%=form_tag("/food_trucks/search", method: "post") do %>
        <%= label_tag(:twitter_handle, "Search for:") %>
        <%= text_field_tag(:twitter_handle) %>
        <%= submit_tag("Search") %>
      <%end %>
      <br>
      <%= link_to "Random Food Truck", food_truck_path(@random_food_truck) %>
    </div>

  </div>
</div>


